@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap')
@import "mixin"

$font-abril: 'Abril Fatface', sans-serif
$font-lato-reg: 'Lato Regular', sans-serif
$font-avenir: 'Avenir-Heavy', sans-serif

$color-blue: #10AEE5
$blue-hover: #25C6FF
$color-white: #FFF
$color-black: #000
$text-title-grey: #1A1A1C
$text-grey-lighten: rgba(26,26,28,0.7)
$input-bg: #F6F6F6

body
  font-family: $font-lato-reg

.content-width-12
  width: 1180px
  margin: 0 auto

.content-width-10
  width: 980px
  margin: 0 auto

.btn
  background: $color-blue
  padding: 20px 30px 22px
  color: $color-white
  text-transform: uppercase
  font-family: $font-avenir
  font-size: 18px
  display: inline-block
  letter-spacing: 0.03em
  +transition(background,.5s,linear)
  -webkit-transition-property: box-shadow,background
  -o-transition-property: box-shadow,background
  -moz-transition-property: box-shadow,background
  transition-property: box-shadow,background
  &:hover
    background: $blue-hover
    +box-shadow(0 6px 24px 0, rgba(91,211,255,0.6))

.block-headline
  font-size: 76px
  color: $text-title-grey
  font-family: $font-abril

.text-info
  font-size: 20px
  line-height: 28px
  color: $text-grey-lighten
  letter-spacing: 0.02em
  span
    color: $text-title-grey
    font-weight: 700

.welcome-block
  background: url("../images/main-bg.jpg") no-repeat 50% 0
  background-size: cover
  height: 100vh
  position: relative
  display: flex
  align-items: flex-end
  padding-bottom: 100px
  &:before
    content: ''
    @include blue-gradient
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: .5
  .welcome-block-content
    position: relative
    .welcome-title
      font-family: $font-abril
      font-size: 106px
      letter-spacing: -0.02em
      line-height: 115px
      color: $color-white
      font-weight: 400
    p
      font-size: 38px
      color: $color-white
      font-family: $font-avenir
.stats-wrap
  width: 980px
  margin: -55px auto 0
  position: relative
  text-align: center
  .stats
    background: $color-white
    padding: 28px 50px 74px
    +box-shadow(0 42px 94px 0,rgba(26,26,26,.08))
    text-align: left
    margin-bottom: -31px
    .top-line
      display: flex
      justify-content: space-between
      align-items: center
      .status,
      .term,
      .sum
        font-size: 19px
        line-height: 22px
        color: $text-title-grey
        letter-spacing: 0.01em
        span
          font-weight: 700
      .status
        margin-right: 46px
      .sum
        margin-left: auto
        text-align: right
        p
          &:first-child
            font-weight: 700
    .progressbar
      width: 100%
      height: 10px
      display: flex
      margin: 30px 0 29px
      .done
        background: $color-blue
        width: 88%
      .total
        background: $color-blue
        opacity: .2
        width: 12%
    .count-data
      display: flex
      justify-content: space-between
      .investors,
      .days,
      .yield,
      .funded
        span
          font-size: 48px
          color: $text-title-grey
          display: block
          letter-spacing: 0.02em
        p
          font-size: 18px
          color: $text-title-grey
          margin-top: 10px
          letter-spacing: 0.03em
      .investors,
      .days
        margin-right: 58px
      .funded
        margin-left: auto
        text-align: right
        span
          color: $color-blue
          letter-spacing: 0.03em
  .stats-description
    text-align: center
    width: 55%
    margin: 30px auto 0
    font-size: 16px
    line-height: 22px
    letter-spacing: 0.02em
    color: $text-grey-lighten
    span
      text-transform: uppercase
      font-weight: 700
.slider
  padding-top: 85px
  img
    display: inline-block
    width: 280px
    height: 190px
.opportunity
  padding: 131px 0 100px
  .content-width-10
    .opportunity-list
      margin-top: 45px
      .opportunity-item
        width: 260px
        margin-right: 37px
        display: inline-block
        vertical-align: top
        border-top: 10px solid $color-blue
        padding-top: 15px
        &:last-child
          margin-right: 0
        p
          font-size: 20px
          font-weight: 700
          color: $text-title-grey
          letter-spacing: 0.03em
        p+p
          margin-top: 16px
          font-size: 28px
          line-height: 34px
          color: $text-grey-lighten
          font-weight: 400
          letter-spacing: 0.02em
    .wrap
      margin-top: 87px
      display: flex
      justify-content: space-between
      .opportunity-img
        width: 630px
        height: 210px
        overflow: hidden
        display: flex
        align-items: center
        margin-left: -194px
        img
          width: 100%
      .opportunity-text
        width: 480px
        margin-top: -9px
.reasons
  padding: 24px 0 50px
  .content-width-10
    .sub-block-headline
      font-size: 38px
      font-family: $font-avenir
      margin-top: 3px
    .reasons-list
      margin-top: 45px
      .reasons-item
        width: 280px
        display: inline-block
        vertical-align: top
        margin-right: 94px
        padding-left: 28px
        border-left: 10px solid $color-blue
        &:last-child
          margin-right: 0
          width: 220px
        p
          margin-top: -8px
          span
            font-weight: 700
            color: $text-title-grey
.text-list
  margin-top: 19px
  .text-list-item
    margin-bottom: 16px
    font-style: italic
    padding-left: 54px
    position: relative
    &:before
      content: ''
      background: $color-blue
      width: 30px
      height: 10px
      position: absolute
      top: 12px
      left: 0
    &:last-child
      margin-bottom: 0
.location
  padding: 68px 0 80px
  .content-width-10
    display: flex
    justify-content: space-between
    align-items: flex-start
    .left-text
      width: 51%
      .location-text
        margin: 47px 0 43px
      .location-list-title
        font-weight: 700
        font-size: 20px
        color: $text-title-grey
        letter-spacing: 0.03em
    .location-img
      width: 621px
      position: relative
      margin: 134px -200px 0 0
      .location-map
        background: url("../images/location-map.jpg") no-repeat
        width: 621px
        height: 403px
        display: block
      .img
        background: url("../images/location-img.jpg") no-repeat
        width: 271px
        height: 171px
        position: absolute
        bottom: -67px
        right: -30px
.project
  padding: 96px 0 90px
  .content-width-10
    .wrap
      margin-top: 53px
      display: flex
      justify-content: space-between
      align-items: flex-start
      .project-img
        background: url("../images/project-img.png") no-repeat
        width: 621px
        height: 490px
        margin-left: -200px
      .right-text
        width: 51%
        margin-top: -6px
        .project-text
          margin: 0 0 40px
.developer
  padding: 45px 0 143px
  .content-width-10
    .wrap
      margin-top: 47px
      display: flex
      justify-content: space-between
      .developer-text
        width: 54%
        p
          margin-bottom: 22px
          &:last-child
            margin-bottom: 0
      .developer-logo
        width: 380px
        height: 380px
        background: $color-black
        display: flex
        align-items: center
        justify-content: center
.form-wrap
  padding-bottom: 118px
  .form-img
    background: url("../images/register-img.jpg") no-repeat 50% 50%
    background-size: cover
    width: 100%
    height: 462px
    display: flex
    justify-content: center
    align-items: center
    p
      font-family: $font-abril
      font-size: 106px
      color: $color-white
      letter-spacing: -0.02em
      margin-top: -20px
  .register-form
    margin: -57px auto 0
    width: 816px
    background: $color-white
    padding: 40px 190px 76px
    text-align: center
    +box-shadow(0 42px 94px 0,rgba(26,26,26,.08))
    position: relative
    height: 247px
    .hidden-wrap
      display: none
    .form-title
      font-family: $font-avenir
      font-size: 30px
      color: $text-title-grey
      margin-bottom: 38px
    input[type=email],
    input[type=text],
    input[type=tel]
      width: 100%
      border: none
      font-size: 20px
      color: $text-title-grey
      background: $input-bg
      padding: 17px 20px 18px
      letter-spacing: 0.02em
      +placeholder-form
      margin-bottom: 16px
      border-bottom: 4px solid transparent
      position: relative
      +transition(border-color,.4s,linear)
      &:hover
        border-color: rgba(26,26,28,0.1)
      &:focus
        border-color: $color-blue
    .input-wrap
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 16px
      text-align: left
      label
        font-size: 18px
        line-height: 24px
        color: $text-title-grey
        width: 185px
        letter-spacing: 0.02em
      .select-amount,
      .select-period
        width: 191px
        height: 62px
        background: $input-bg
        border: none
        color: $text-title-grey
        font-size: 20px
        padding: 10px 15px
    .checkbox-wrap
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 20px
      text-align: left
      margin-top: 31px
      input[type=checkbox]
        width: 24px
        height: 24px
        background: $input-bg
      label
        width: 91.3%
        font-size: 16px
        color: $text-grey-lighten
        letter-spacing: 0.02em
        .link
          color: $color-blue
          &:hover
            text-decoration: underline
    .checkbox-wrap+.checkbox-wrap
      margin: 0
    .form-btn
      border: none
      cursor: pointer
      position: absolute
      bottom: -31px
      left: 0
      right: 0
      margin: 0 auto
.social
  width: 503px
  margin: 0 auto
  padding-bottom: 75px
  text-align: center
  .social-title
    font-size: 20px
    color: $text-title-grey
    position: relative
    font-weight: 700
    letter-spacing: 0.03em
    &:before,
    &:after
      content: ''
      background: rgba(26,26,28,0.15)
      height: 2px
      position: absolute
      top: 48%
      width: 40%
    &:before
      left: 0
    &:after
      right: 0
  .social-list
    margin-top: 38px
    .social-item
      display: inline-block
      margin: 0 19px
      a
        font-size: 18px
        color: $text-grey-lighten
        text-transform: uppercase
        font-family: $font-avenir
        letter-spacing: 0.03em
        +transition(color,.4s,linear)
        &:hover
          color: $color-blue
.copyright
  text-align: center
  font-size: 11px
  color: rgba(26,26,28,0.3)
  padding-bottom: 77px