@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap')
@import "mixin"

$font-abril: 'Abril Fatface', sans-serif
$font-lato-reg: 'Lato', sans-serif
$font-avenir: 'Avenir-Heavy', sans-serif

$color-blue: #10AEE5
$blue-hover: #25C6FF
$color-white: #FFF
$color-black: #000
$text-title-grey: #1A1A1C
$text-grey-lighten: rgba(26,26,28,0.7)
$input-bg: #F6F6F6

body
  font-family: $font-lato-reg

.content-width-12
  width: 1180px
  margin: 0 auto
  +respond-to(desktop)
    width: 100%
    padding: 0 36px
  +respond-to(small-tablet)
    padding: 0 20px

.content-width-10
  width: 980px
  margin: 0 auto
  +respond-to(desktop)
    width: 100%
    padding: 0 36px
  +respond-to(small-tablet)
    padding: 0 20px

.btn
  background: $color-blue
  padding: 20px 30px 22px
  color: $color-white
  text-transform: uppercase
  font-family: $font-avenir
  font-size: 18px
  display: inline-block
  letter-spacing: 0.03em
  +transition(background,.5s,linear)
  -webkit-transition-property: box-shadow,background
  -o-transition-property: box-shadow,background
  -moz-transition-property: box-shadow,background
  transition-property: box-shadow,background
  &:hover
    background: $blue-hover
    +box-shadow(0 6px 24px 0, rgba(91,211,255,0.6))
  +respond-to(tablet)
    &:hover
      background: $color-blue
      box-shadow: none
  +respond-to(mobile)
    font-size: 15px
    padding: 16px 27px 15px

.block-headline
  font-size: 76px
  color: $text-title-grey
  font-family: $font-abril
  +respond-to(tablet)
    font-size: 56px
    padding-left: 40px
  +respond-to(small-tablet)
    padding-left: 0
    font-size: 46px
  +respond-to(mobile)
    font-size: 36px
    letter-spacing: -0.01em

.text-info
  font-size: 20px
  line-height: 28px
  color: $text-grey-lighten
  letter-spacing: 0.02em
  +respond-to(mobile)
    font-size: 18px
    line-height: 26px
  span
    color: $text-title-grey
    font-weight: 700

.fixed
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
  display: none
  background: $color-white
  height: 68px
  +box-shadow(0 0 40px 0,rgba(26,26,26,.12))
  +respond-to(small-tablet)
    height: 60px
  +respond-to(mobile)
    height: 50px
  .content-width-10
    position: relative
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    +respond-to(tablet)
      justify-content: space-between
    .logo
      width: 147px
      height: 19px
      +respond-to(mobile)
        width: 100px
      img
        width: 100%
        height: auto
    .header-register-btn
      font-size: 13px
      position: absolute
      top: 14px
      right: 0
      padding: 13px 20px
      +respond-to(desktop)
        right: 20px
      +respond-to(tablet)
        position: static
      +respond-to(mobile)
        right: 10px
        font-size: 12px
        padding: 11px 15px

.welcome-block
  background: url("../images/main-bg.jpg") no-repeat 50% 0
  background-size: cover
  height: 100vh
  position: relative
  display: flex
  align-items: flex-end
  padding-bottom: 100px
  +respond-to(tablet)
    padding-bottom: 112px
  +respond-to(small-tablet)
    padding-bottom: 90px
  +respond-to(mobile)
    padding-bottom: 55px
  &:before
    content: ''
    @include blue-gradient
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: .5
  .welcome-block-content
    position: relative
    +respond-to(tablet)
      margin-left: 40px
    +respond-to(small-tablet)
      margin-left: 0
    .welcome-title
      font-family: $font-abril
      font-size: 106px
      letter-spacing: -0.02em
      line-height: 115px
      color: $color-white
      font-weight: 400
      +respond-to(tablet)
        font-size: 86px
      +respond-to(small-tablet)
        font-size: 66px
        line-height: 70px
      +respond-to(mobile)
        font-size: 46px
        line-height: 50px
    p
      font-size: 38px
      color: $color-white
      font-family: $font-avenir
      +respond-to(tablet)
        font-size: 34px
        margin-top: -7px
      +respond-to(small-tablet)
        margin-top: 7px
      +respond-to(mobile)
        font-size: 22px
        margin-top: 3px
.stats-wrap
  margin-top: -55px
  position: relative
  text-align: center
  +respond-to(mobile)
    margin-top: -30px
  .stats
    background: $color-white
    padding: 28px 50px 74px
    +box-shadow(0 42px 94px 0,rgba(26,26,26,.08))
    text-align: left
    margin-bottom: -31px
    +respond-to(tablet)
      padding: 18px 40px 80px
    +respond-to(small-tablet)
      padding-bottom: 60px
    +respond-to(mobile)
      padding: 14px 24px 60px
      margin-bottom: -37px
    .top-line
      display: flex
      justify-content: space-between
      align-items: center
      .status,
      .term,
      .sum
        font-size: 19px
        line-height: 22px
        color: $text-title-grey
        letter-spacing: 0.01em
        +respond-to(tablet)
          font-size: 18px
          letter-spacing: 0.03em
        +respond-to(mobile)
          font-size: 12px
        span
          font-weight: 700
      .status
        margin-right: 46px
      .sum
        margin-left: auto
        text-align: right
        p
          &:first-child
            font-weight: 700
        p+p
          +respond-to(mobile)
            margin-top: -7px
      .wrap
        display: flex
        +respond-to(small-tablet)
          display: block
    .progress
      width: 100%
      height: 10px
    .progress-wrap
      background: $color-blue
      margin: 30px 0 29px
      overflow: hidden
      position: relative
      +respond-to(tablet)
        margin: 21px 0 29px
      +respond-to(mobile)
        margin: 11px 0 19px
      .progress-bar
        background: $input-bg
        left: 0
        position: absolute
        top: 0
        +respond-to(tablet)
          left: 96%
    .count-data
      display: flex
      justify-content: space-between
      +respond-to(tablet)
        padding-left: 10px
      +respond-to(small-tablet)
        padding-left: 0
        flex-wrap: wrap
        justify-content: center
      +respond-to(mobile)
        text-align: center
      .investors,
      .days,
      .yield,
      .funded
        span
          font-size: 48px
          color: $text-title-grey
          display: block
          letter-spacing: 0.02em
          +respond-to(tablet)
            font-size: 36px
          +respond-to(mobile)
            font-size: 24px
        p
          font-size: 18px
          color: $text-title-grey
          margin-top: 10px
          letter-spacing: 0.03em
          +respond-to(tablet)
            margin-top: 5px
          +respond-to(mobile)
            font-size: 12px
      .investors,
      .days
        margin-right: 58px
        +respond-to(tablet)
          margin-right: 31px
        +respond-to(small-tablet)
          margin-right: 61px
        +respond-to(mobile)
          margin-right: 30px
      .funded
        margin-left: auto
        text-align: right
        +respond-to(small-tablet)
          text-align: center
          margin-left: 0
          margin-top: 30px
          width: 100%
        +respond-to(mobile)
          margin-top: 23px
        span
          color: $color-blue
          letter-spacing: 0.03em
      .yield,
      .funded
        span
          span
            display: inline-block
  .stats-description
    text-align: center
    width: 55%
    margin: 30px auto 0
    font-size: 16px
    line-height: 22px
    letter-spacing: 0.02em
    color: $text-grey-lighten
    +respond-to(tablet)
      width: 77%
    +respond-to(mobile)
      margin-top: 27px
      font-size: 14px
      line-height: 20px
      width: 71%
    span
      text-transform: uppercase
      font-weight: 700
.slider
  padding-top: 85px
  +respond-to(tablet)
    padding-top: 70px
  +respond-to(mobile)
    padding-top: 57px
  img
    display: inline-block
    width: 280px
    height: 190px
.opportunity
  padding: 131px 0 100px
  +respond-to(desktop)
    padding: 103px 0 82px
  +respond-to(small-tablet)
    padding: 50px 0 30px
  +respond-to(mobile)
    padding: 51px 0 30px
  .content-width-10
    .opportunity-list
      margin-top: 45px
      +respond-to(tablet)
        margin-top: 57px
      +respond-to(mobile)
        margin-top: 33px
      .opportunity-item
        width: 260px
        margin-right: 37px
        display: inline-block
        vertical-align: top
        border-top: 10px solid $color-blue
        padding-top: 15px
        +respond-to(tablet)
          width: 31%
          margin-right: 20px
        +respond-to(small-tablet)
          width: 30%
          margin-right: 19px
        +respond-to(mobile)
          width: 100%
          margin-right: 0
          margin-bottom: 35px
        &:last-child
          margin-right: 0
          +respond-to(mobile)
            margin-bottom: 0
        p
          font-size: 20px
          font-weight: 700
          color: $text-title-grey
          letter-spacing: 0.03em
        p+p
          margin-top: 16px
          font-size: 28px
          line-height: 34px
          color: $text-grey-lighten
          font-weight: 400
          letter-spacing: 0.02em
          +respond-to(tablet)
            font-size: 24px
            line-height: 29px
            margin-top: 12px
          +respond-to(small-tablet)
            font-size: 21px
            line-height: 26px
          +respond-to(mobile)
            font-size: 24px
            line-height: 29px
    .wrap
      margin-top: 87px
      display: flex
      justify-content: space-between
      +respond-to(tablet)
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 68px
      +respond-to(mobile)
        margin-top: 49px
      .opportunity-img
        width: 630px
        height: 210px
        overflow: hidden
        display: flex
        align-items: center
        margin-left: -194px
        +respond-to(desktop)
          width: 620px
        +respond-to(tablet)
          margin-left: 0
          width: 65%
          height: 152px
        +respond-to(small-tablet)
          width: 100%
        +respond-to(mobile)
          height: 128px
        .img
          width: 100%
          height: 210px
          background: url("../images/opportunity-img.jpg")
          background-attachment: fixed
          background-position: center
          background-repeat: no-repeat
          background-size: cover
          +respond-to(desktop)
            background-attachment: scroll
          +respond-to(tablet)
            height: 152px
      .opportunity-text
        width: 480px
        margin-top: -9px
        +respond-to(desktop)
          width: 50%
        +respond-to(tablet)
          margin-top: 35px
          width: 65%
        +respond-to(small-tablet)
          width: 100%
        +respond-to(mobile)
          margin-top: 23px
.reasons
  padding: 24px 0 50px
  +respond-to(small-tablet)
    padding: 24px 0
  .content-width-10
    .sub-block-headline
      font-size: 38px
      font-family: $font-avenir
      margin-top: 3px
      +respond-to(tablet)
        padding-left: 40px
        font-size: 30px
        margin-top: 8px
      +respond-to(small-tablet)
        padding-left: 0
      +respond-to(mobile)
        font-size: 24px
    .reasons-list
      margin-top: 45px
      +respond-to(tablet)
        margin-top: 48px
      +respond-to(mobile)
        margin-top: 32px
      .reasons-item
        width: 280px
        display: inline-block
        vertical-align: top
        margin-right: 94px
        padding-left: 28px
        border-left: 10px solid $color-blue
        +respond-to(desktop)
          margin-right: 65px
        +respond-to(tablet)
          padding-left: 20px
          width: 31%
          margin-right: 16px
        +respond-to(small-tablet)
          width: 100%
          margin-right: 0
          margin-bottom: 40px
        +respond-to(mobile)
          margin-bottom: 34px
        &:last-child
          margin-right: 0
          width: 220px
          +respond-to(small-tablet)
            margin-bottom: 0
        p
          margin-top: -8px
          +respond-to(mobile)
            margin-top: -6px
          span
            font-weight: 700
            color: $text-title-grey
.text-list
  margin-top: 19px
  .text-list-item
    margin-bottom: 16px
    font-style: italic
    font-family: "Lato Regular", sans-serif
    padding-left: 54px
    position: relative
    +respond-to(mobile)
      padding-left: 50px
    &:before
      content: ''
      background: $color-blue
      width: 30px
      height: 10px
      position: absolute
      top: 12px
      left: 0
    &:last-child
      margin-bottom: 0
.location
  padding: 68px 0 80px
  overflow: hidden
  +respond-to(desktop)
    padding: 64px 0
  +respond-to(small-tablet)
    padding: 30px 0
  +respond-to(mobile)
    padding: 34px 0
  .content-width-10
    .wrap
      display: flex
      justify-content: space-between
      align-items: flex-start
      margin-top: 47px
      +respond-to(tablet)
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 41px
      +respond-to(mobile)
        margin-top: 33px
      .left-text
        width: 51%
        +respond-to(desktop)
          width: 48%
        +respond-to(tablet)
          order: 2
          width: 88%
          margin-top: 40px
        +respond-to(small-tablet)
          width: 100%
        +respond-to(mobile)
          margin-top: 18px
        .location-text
          margin: 0 0 43px
          +respond-to(tablet)
            margin-bottom: 50px
          +respond-to(mobile)
            margin-bottom: 34px
        .location-list-title
          font-weight: 700
          font-size: 20px
          color: $text-title-grey
          letter-spacing: 0.03em
          +respond-to(tablet)
            padding-left: 78px
          +respond-to(small-tablet)
            padding-left: 0
          +respond-to(mobile)
            font-size: 18px
        .location-list
          +respond-to(tablet)
            padding-left: 78px
            width: 88%
          +respond-to(small-tablet)
            width: 100%
            padding-left: 0
      .location-img
        width: 621px
        position: relative
        margin: 0 -200px 0 0
        +respond-to(desktop)
          margin-right: -175px
        +respond-to(tablet)
          order: 1
          width: 617px
          margin-right: 0
        +respond-to(small-tablet)
          width: 461px
        +respond-to(mobile)
          width: 280px
        .location-map
          background: url("../images/location-map.jpg") no-repeat
          width: 621px
          height: 403px
          display: block
          +respond-to(desktop)
            width: 500px
            height: 325px
            background-size: contain
          +respond-to(tablet)
            width: 536px
            height: 344px
            background-size: cover
          +respond-to(small-tablet)
            width: 461px
            height: 300px
          +respond-to(mobile)
            width: 280px
            height: 165px
        .img
          background: url("../images/location-img.jpg") no-repeat
          width: 271px
          height: 171px
          position: absolute
          bottom: -67px
          right: -30px
          +respond-to(desktop)
            bottom: -90px
            right: 60px
          +respond-to(tablet)
            bottom: 37px
            right: 9px
            width: 233px
            height: 147px
          +respond-to(small-tablet)
            bottom: -19px
            right: -19px
          +respond-to(mobile)
            position: static
            background-size: cover
            width: 280px
            height: 165px
            display: block
.project
  padding: 96px 0 90px
  +respond-to(desktop)
    padding: 40px 0
  +respond-to(tablet)
    padding: 49px 0
  +respond-to(small-tablet)
    padding: 30px 0
    overflow: hidden
  +respond-to(mobile)
    padding: 20px 0 16px
  .content-width-10
    .wrap
      margin-top: 53px
      display: flex
      justify-content: space-between
      align-items: flex-start
      +respond-to(tablet)
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 42px
      .project-img
        background: url("../images/project-img.png") no-repeat
        width: 621px
        height: 490px
        margin-left: -200px
        +respond-to(tablet)
          margin-left: 0
          width: 610px
          height: 481px
          background-size: cover
        +respond-to(small-tablet)
          margin: 0 -30px
          width: 543px
          height: 427px
        +respond-to(mobile)
          margin: -17px -30px 0
          width: 366px
          height: 289px
      .right-text
        width: 51%
        margin-top: -6px
        +respond-to(tablet)
          margin-top: 54px
          width: 64%
        +respond-to(small-tablet)
          width: 100%
        +respond-to(mobile)
          margin-top: 25px
        .project-text
          margin: 0 0 40px
          +respond-to(tablet)
            margin-bottom: 34px
          +respond-to(mobile)
            margin-bottom: 22px
        .project-list
          .text-list-item
            padding-left: 49px
.developer
  padding: 45px 0 143px
  +respond-to(desktop)
    padding: 61px 0 100px
  +respond-to(small-tablet)
    padding: 40px 0 50px
  .content-width-10
    .wrap
      margin-top: 47px
      display: flex
      justify-content: space-between
      +respond-to(tablet)
        flex-direction: column
        align-items: center
        justify-content: center
        margin-top: 41px
      +respond-to(mobile)
        margin-top: 33px
      .developer-text
        width: 54%
        +respond-to(tablet)
          order: 2
          margin-top: 36px
          width: 65%
        +respond-to(small-tablet)
          width: 100%
        +respond-to(mobile)
          margin-top: 22px
        p
          margin-bottom: 22px
          +respond-to(mobile)
            margin-bottom: 20px
          &:last-child
            margin-bottom: 0
      .developer-logo
        width: 380px
        height: 380px
        background: $color-black
        display: flex
        align-items: center
        justify-content: center
        +respond-to(tablet)
          order: 1
          width: 616px
          height: 231px
        +respond-to(small-tablet)
          width: 100%
        +respond-to(mobile)
          height: 150px
          img
            width: 55%
.form-wrap
  padding-bottom: 118px
  +respond-to(tablet)
    padding-bottom: 125px
  +respond-to(small-tablet)
    padding-bottom: 80px
  +respond-to(mobile)
    padding-bottom: 75px
  .form-img
    background: url("../images/register-img.jpg") no-repeat 50% 50%
    background-size: cover
    width: 100%
    height: 462px
    display: flex
    justify-content: center
    align-items: center
    +respond-to(tablet)
      height: 345px
    +respond-to(mobile)
      height: 318px
    p
      font-family: $font-abril
      font-size: 106px
      color: $color-white
      letter-spacing: -0.02em
      margin-top: -20px
      +respond-to(tablet)
        font-size: 67px
      +respond-to(mobile)
        font-size: 47px
        line-height: 51px
        width: 90%
        text-align: center
  .register-form
    margin: -57px auto 0
    width: 816px
    background: $color-white
    padding: 40px 190px 76px
    text-align: center
    +box-shadow(0 42px 94px 0,rgba(26,26,26,.08))
    position: relative
    height: 247px
    +respond-to(tablet)
      width: 582px
      height: 237px
      margin-top: -39px
      padding: 36px 71px 76px
    +respond-to(small-tablet)
      width: 461px
    +respond-to(mobile)
      width: 280px
      height: 150px
      padding: 21px 20px 76px
    .hidden-wrap
      display: none
    .form-title
      font-family: $font-avenir
      font-size: 30px
      color: $text-title-grey
      margin-bottom: 38px
      +respond-to(tablet)
        font-size: 24px
      +respond-to(mobile)
        font-size: 18px
        margin-bottom: 18px
    input[type=email],
    input[type=text],
    input[type=tel]
      width: 100%
      border: none
      font-size: 20px
      color: $text-title-grey
      background: $input-bg
      padding: 17px 20px 18px
      letter-spacing: 0.02em
      +placeholder-form
      margin-bottom: 16px
      border-bottom: 4px solid transparent
      position: relative
      +transition(border-color,.4s,linear)
      +respond-to(mobile)
        padding: 11px 16px 14px
      &:hover
        border-color: rgba(26,26,28,0.1)
      &:focus
        border-color: $color-blue
    .input-wrap
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 16px
      text-align: left
      +respond-to(mobile)
        display: block
      label
        font-size: 18px
        line-height: 24px
        color: $text-title-grey
        width: 185px
        letter-spacing: 0.02em
        +respond-to(mobile)
          font-size: 16px
          line-height: 20px
      .select-amount,
      .select-period
        width: 191px
        height: 62px
        background: $input-bg
        border: none
        color: $text-title-grey
        font-size: 20px
        padding: 10px 15px
        +respond-to(mobile)
          width: 100%
          margin-top: 10px
    .checkbox-wrap
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 20px
      text-align: left
      margin-top: 31px
      input[type=checkbox]
        width: 24px
        height: 24px
        background: $input-bg
      label
        width: 91.3%
        font-size: 16px
        color: $text-grey-lighten
        letter-spacing: 0.02em
        +respond-to(small-tablet)
          width: 89%
        +respond-to(mobile)
          width: 86%
        .link
          color: $color-blue
          &:hover
            text-decoration: underline
    .checkbox-wrap+.checkbox-wrap
      margin: 0
    .form-btn
      border: none
      cursor: pointer
      position: absolute
      bottom: -31px
      left: 0
      right: 0
      margin: 0 auto
      +respond-to(mobile)
        bottom: -24px
.social
  width: 503px
  margin: 0 auto
  padding-bottom: 75px
  text-align: center
  +respond-to(tablet)
    padding-bottom: 65px
  +respond-to(small-tablet)
    padding: 0 20px 65px
    width: 100%
  +respond-to(mobile)
    padding-bottom: 58px
  .social-title
    font-size: 20px
    color: $text-title-grey
    position: relative
    font-weight: 700
    letter-spacing: 0.03em
    +respond-to(mobile)
      font-size: 16px
    &:before,
    &:after
      content: ''
      background: rgba(26,26,28,0.15)
      height: 2px
      position: absolute
      top: 48%
      width: 40%
      +respond-to(mobile)
        width: 37%
    &:before
      left: 0
    &:after
      right: 0
  .social-list
    margin-top: 38px
    +respond-to(mobile)
      margin-top: 30px
    .social-item
      display: inline-block
      margin: 0 19px
      +respond-to(mobile)
        display: block
        margin: 0 0 27px 0
        &:last-child
          margin-bottom: 0
      a
        font-size: 18px
        color: $text-grey-lighten
        text-transform: uppercase
        font-family: $font-avenir
        letter-spacing: 0.03em
        +transition(color,.4s,linear)
        +respond-to(mobile)
          font-size: 16px
        &:hover
          color: $color-blue
.copyright
  text-align: center
  font-size: 11px
  color: rgba(26,26,28,0.3)
  padding-bottom: 77px